## Weddings costs
Data: [hitched survey](https://www.hitched.co.uk/wedding-planning/organising-and-planning/the-average-wedding-cost-in-the-uk-revealed/)

In [5]:
import pandas as pd
import numpy as np

import plotly.graph_objects as go
from plotly.subplots import make_subplots

%load_ext lab_black

In [6]:
d = {
    "year": [2021, 2019, 2018, 2017, 2016],
    "Venue_hire": [7600, 5406, 5221, 4354, 3738],
    "Wedding_dress": [1300, 1313, 1321, 1209, 1055],
    "Photography": [1200, 1155, 1166, 993, 905],
    "Video": [np.nan, 968, 1027, 801, np.nan],
    "Honeymoon": [np.nan, 4645, 4545, 3630, 3366],
    "Food": [4680, 3887, 4151, 3353, 3072],
    "Drink": [np.nan, 1587, 1739, 1342, 965],
    "Engagement_ring": [np.nan, 2419, 2657, 2084, 1742],
    "Music": [np.nan, 1005, 1014, 813, np.nan],
    "Mini_moon": [np.nan, 1135, 1051, 911, 1082],
    "avg_total_cost": [
        17300,
        31974,  # https://www.hitched.co.uk/wedding-planning/budget/plan-a-wedding-for-32000/
        32273,
        27161,
        25090,
    ],  # https://www.hitched.co.uk/wedding-planning/organising-and-planning/wedding-survey-2018/
    "median_disposable_HHincome": [
        31400,
        29548,
        29308,
        30026,
        29237,
    ],  # https://www.ons.gov.uk/peoplepopulationandcommunity/personalandhouseholdfinances/incomeandwealth/bulletins/householddisposableincomeandinequality/financialyearending2021
}
cost_data = pd.DataFrame(data=d)
cost_data

,year,Venue_hire,Wedding_dress,Photography,Video,Honeymoon,Food,Drink,Engagement_ring,Music,Mini_moon,avg_total_cost,median_disposable_HHincome
0,2021,7600,1300,1200,NaN,NaN,4680,NaN,NaN,NaN,NaN,17300,31400
1,2019,5406,1313,1155,968.0,4645.0,3887,1587.0,2419.0,1005.0,1135.0,31974,29548
2,2018,5221,1321,1166,1027.0,4545.0,4151,1739.0,2657.0,1014.0,1051.0,32273,29308
3,2017,4354,1209,993,801.0,3630.0,3353,1342.0,2084.0,813.0,911.0,27161,30026
4,2016,3738,1055,905,NaN,3366.0,3072,965.0,1742.0,NaN,1082.0,25090,29237

In [13]:
cost_data["other_costs"] = cost_data.avg_total_cost - (
    cost_data.Venue_hire
    + cost_data.Wedding_dress
    + cost_data.Photography
    + cost_data.replace({np.nan: 0}).Video
    + cost_data.replace({np.nan: 0}).Honeymoon
    + cost_data.Food
    + cost_data.replace({np.nan: 0}).Drink
    + cost_data.replace({np.nan: 0}).Engagement_ring
    + cost_data.replace({np.nan: 0}).Music
    + cost_data.replace({np.nan: 0}).Mini_moon
)

In [14]:
cost_data

,year,Venue_hire,Wedding_dress,Photography,Video,Honeymoon,Food,Drink,Engagement_ring,Music,Mini_moon,avg_total_cost,median_disposable_HHincome,other_costs
0,2021,7600,1300,1200,NaN,NaN,4680,NaN,NaN,NaN,NaN,17300,31400,2520.0
1,2019,5406,1313,1155,968.0,4645.0,3887,1587.0,2419.0,1005.0,1135.0,31974,29548,8454.0
2,2018,5221,1321,1166,1027.0,4545.0,4151,1739.0,2657.0,1014.0,1051.0,32273,29308,8381.0
3,2017,4354,1209,993,801.0,3630.0,3353,1342.0,2084.0,813.0,911.0,27161,30026,7671.0
4,2016,3738,1055,905,NaN,3366.0,3072,965.0,1742.0,NaN,1082.0,25090,29237,9165.0

In [29]:
# bridebook.com/ bridebook wedding report
d = {
    "year": [2019, 2020, 2021],
    "Venue_hire": [6286, 3376, 6428],
    "Catering": [4419, 1562, 4048],
    "Wedding_dress": [1193, 1002, 1250],
    "Menswear": [628, 479, 643],
    "Photography": [1110, 863, 1290],
    "Videography": [1016, 231, 1167],
    "Honeymoon": [3724, 1772, 3384],
    "Engagement_ring": [1937, 1922, 2058],
    "Music_and_entertainment": [915 + 515, 293 + 72, 1007 + 621],
    "Marquee_hire": [4142, 193, 2988],
    "sum_of_categories": [32944, 15115, 32338],
    "avg_total_cost": [20731, 14422, 20254],
    "median_disposable_HHincome": [
        29548,
        30762,
        31400,
    ],  # https://www.ons.gov.uk/peoplepopulationandcommunity/personalandhouseholdfinances/incomeandwealth/bulletins/householddisposableincomeandinequality/financialyearending2021
}
cost_data = pd.DataFrame(data=d)
cost_data

,year,Venue_hire,Catering,Wedding_dress,Menswear,Photography,Videography,Honeymoon,Engagement_ring,Music_and_entertainment,Marquee_hire,sum_of_categories,avg_total_cost,median_disposable_HHincome
0,2019,6286,4419,1193,628,1110,1016,3724,1937,1430,4142,32944,20731,29548
1,2020,3376,1562,1002,479,863,231,1772,1922,365,193,15115,14422,30762
2,2021,6428,4048,1250,643,1290,1167,3384,2058,1628,2988,32338,20254,31400

In [60]:
cost_data["other"] = cost_data.sum_of_categories - (
    cost_data.Venue_hire
    + cost_data.Catering
    + cost_data.Wedding_dress
    + cost_data.Menswear
    + cost_data.Photography
    + cost_data.Videography
    + cost_data.Honeymoon
    + cost_data.Engagement_ring
    + cost_data.Music_and_entertainment
    #  + cost_data.Marquee_hire
)
cost_data["vid_and_photo"] = cost_data.Photography + cost_data.Videography
cost_data["Wedding_dress_and_suit"] = cost_data.Wedding_dress + cost_data.Menswear
cost_data["venue_marquee"] = cost_data.Venue_hire + cost_data.Marquee_hire

In [42]:
cost_data

,year,Venue_hire,Catering,Wedding_dress,Menswear,Photography,Videography,Honeymoon,Engagement_ring,Music_and_entertainment,Marquee_hire,sum_of_categories,avg_total_cost,median_disposable_HHincome,other,vid_and_photo,Wedding_dress_and_suit
0,2019,6286,4419,1193,628,1110,1016,3724,1937,1430,4142,32944,20731,29548,11201,2126,1821
1,2020,3376,1562,1002,479,863,231,1772,1922,365,193,15115,14422,30762,3543,1094,1481
2,2021,6428,4048,1250,643,1290,1167,3384,2058,1628,2988,32338,20254,31400,10442,2457,1893

In [39]:
cost_data.columns

Index(['year', 'Venue_hire', 'Catering', 'Wedding_dress', 'Menswear',
       'Photography', 'Videography', 'Honeymoon', 'Engagement_ring',
       'Music_and_entertainment', 'Marquee_hire', 'sum_of_categories',
       'avg_total_cost', 'median_disposable_HHincome', 'other',
       'vid_and_photo'],
      dtype='object')

In [ ]:

aliceblue, antiquewhite, aqua, aquamarine, azure,
                beige, bisque, black, blanchedalmond, blue,
                blueviolet, brown, burlywood, cadetblue,
                chartreuse, chocolate, coral, cornflowerblue,
                cornsilk, crimson, cyan, darkblue, darkcyan,
                darkgoldenrod, darkgray, darkgrey, darkgreen,
                darkkhaki, darkmagenta, darkolivegreen, darkorange,
                darkorchid, darkred, darksalmon, darkseagreen,
                darkslateblue, darkslategray, darkslategrey,
                darkturquoise, darkviolet, deeppink, deepskyblue,
                dimgray, dimgrey, dodgerblue, firebrick,
                floralwhite, forestgreen, fuchsia, gainsboro,
                ghostwhite, gold, goldenrod, gray, grey, green,
                greenyellow, honeydew, hotpink, indianred, indigo,
                ivory, khaki, lavender, lavenderblush, lawngreen,
                lemonchiffon, lightblue, lightcoral, lightcyan,
                lightgoldenrodyellow, lightgray, lightgrey,
                lightgreen, lightpink, lightsalmon, lightseagreen,
                lightskyblue, lightslategray, lightslategrey,
                lightsteelblue, lightyellow, lime, limegreen,
                linen, magenta, maroon, mediumaquamarine,
                mediumblue, mediumorchid, mediumpurple,
                mediumseagreen, mediumslateblue, mediumspringgreen,
                mediumturquoise, mediumvioletred, midnightblue,
                mintcream, mistyrose, moccasin, navajowhite, navy,
                oldlace, olive, olivedrab, orange, orangered,
                orchid, palegoldenrod, palegreen, paleturquoise,

In [142]:
# https://plotly.com/python/pie-charts/
labels = [
    "Venue & marquee hire",
    "Catering",
    "Honeymoon",
    "Photography & Videography",
    "Engagement ring",
    "Wedding dress & Menswear",
    "Music & Entertainment",
    "Other",
]
# https://community.plotly.com/t/plotly-colours-list/11730/3
colors = [
    "darkmagenta",
    "gold",
    "lightskyblue",
    "darkred",
    "deeppink",
    "blanchedalmond",
    "darksalmon",
    "lightgrey",
]

columns = [
    "venue_marquee",
    "Catering",
    "Honeymoon",
    "vid_and_photo",
    "Engagement_ring",
    "Wedding_dress_and_suit",
    "Music_and_entertainment",
    "other",
]
fig = make_subplots(
    1,
    2,
    specs=[[{"type": "domain"}, {"type": "domain"}]],
    subplot_titles=["2020", "2021"],
)
fig.add_trace(
    go.Pie(
        labels=labels,
        values=cost_data.iloc[1][columns].values,
        sort=False,
        scalegroup="one",
        hole=0.7,
        name="Weddings costs 2020",
    ),
    1,
    1,
)
fig.add_trace(
    go.Pie(
        labels=labels,
        values=cost_data.iloc[2][columns].values,
        sort=False,
        scalegroup="one",
        hole=0.7,
        name="Wedding costs 2021",
    ),
    1,
    2,
)
fig.update_annotations(font_size=20)

fig.update_layout(
    title_text="Average cost of a wedding in the UK",
    font=dict(family="Arial", size=26, color="rgb(37,37,37)"),
    legend_title="Cost category",
    legend_font=dict(family="Arial", size=18, color="rgb(37,37,37)"),
    autosize=False,
    width=1000,
    height=500,
)
fig.add_annotation(
    dict(text="£14,422", x=0.17, y=0.5, font_size=20, showarrow=False),
)
fig.add_annotation(
    dict(text="£20,254", x=0.85, y=0.5, font_size=20, showarrow=False),
)
fig.add_annotation(
    dict(
        xref="paper",
        yref="paper",
        x=-0.05,
        y=-0.1,
        xanchor="left",
        yanchor="bottom",
        text="Source: bridebook.com & data.meets.poetry",
        font=dict(family="Arial", size=12, color="rgb(150,150,150)"),
        showarrow=False,
    )
)
fig.update_traces(
    texttemplate="%{percent:.0%}",
    textfont_size=16,
    marker=dict(colors=colors),  # , line=dict(color="#000000", width=0.1)),
)
fig.show()

In [ ]:
#https://infopython.com/9-ways-to-plot-a-pie-chart-using-python/